name: CICD

env:
  NUGET_SOURCE: https://api.nuget.org/v3/index.json
  NUGET_API_KEY: ${{ secrets.PUBLIC_NUGET_TOKEN }}
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_CONFIGURATION: Release

on:
  push:
    tags:
      - "*"

jobs:
  ci_cd:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        filter: tree:0

    - name: Setup .Net SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x

    - name: Run clean
      run: eng/ci.sh clean

    - name: Run restore
      run: eng/ci.sh restore

    - name: Run build
      run: eng/ci.sh build

    - name: Run pack
      run: eng/ci.sh pack

    - name: Push to NuGet
      run: eng/ci.sh push